
chair.pdf
chair.asy.bak
pinwheel.asy.bak
pinwheel.pdf
boxRect.asy.bak
boxRect.pdf
test.pdf
penrose.pdf
penrose.asy.bak
test.asy.bak
tromino1.asy
asy.exe.stackdump
penroseKite.asy.bak
penroseKite.pdf
penroseRhomb.asy.bak
penroseRhomb.pdf
Play/triangle.asy
Play/triangle.pdf
from Franz/chair (1).eps
from Franz/penrose (1).eps
Play/pentagrid.pdf
